[Unit]
Description=overlaybd-snapshotter service
After=network.target local-fs.target
Before=shutdown.target
DefaultDependencies=no
Conflicts=shutdown.target

[Service]
LimitNOFILE=1048576
LimitCORE=infinity
Type=simple
ExecStartPre=/sbin/modprobe target_core_user overlay
ExecStart=/opt/overlaybd/snapshotter/overlaybd-snapshotter

GuessMainPID=no
Restart=always
RestartSec=1s
KillMode=process
OOMScoreAdjust=-999

[Install]
WantedBy=multi-user.target
